/* style.css */

/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ececec;
    color: #333;
    line-height: 1.6;
}

.header {
    background: #262626;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar a {
    text-decoration: none;
    margin-right: 15px;
    color: white;
    transition: color 0.3s;
}

.navbar a.active, 
.navbar a:hover {
    color: #f1f1f1;
}

.contact {
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.contact h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    padding-top: 20px;
}

.contact-info {
    margin-bottom: 15px;
    padding: 15px;
}

.contact-info h2 {
    margin-bottom: 10px;
    color: #28527a;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-info a {
    color: #28527a;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header, .contact {
        flex-direction: column;
        text-align: center;
    }
    
    .navbar a {
        display: block;
        padding: 10px 0;
    }
}
